#header {
  position: absolute;
  /* width: 270px; */
}
#header .pro-sidebar {
  height: 100vh;
}
#header .closemenu {
  color: #000;
  position: absolute;
  right: 0;
  z-index: 9999;
  line-height: 20px;
  border-radius: 50%;
  font-weight: bold;
  font-size: 22px;
  top: 55px;
  cursor: pointer;
}
#header .pro-sidebar {
  width: 100%;
  min-width: 100%;
}
#header .pro-sidebar.collapsed {
  width: 80px;
  min-width: 80px;
}
#header .pro-sidebar-inner {
  background-color: white;
  box-shadow: 0.5px 0.866px 2px 0px rgba(0, 0, 0, 0.15);
}
#header .pro-sidebar-inner .pro-sidebar-layout {
  overflow-y: hidden;
}
#header .pro-sidebar-inner .pro-sidebar-layout .logotext p {
  font-size: 20px;
  padding: 0 20px;
  color: #000;
  font-weight: bold;
}
#header .pro-sidebar-inner .pro-sidebar-layout ul {
  padding: 0 5px;
}
#header .pro-sidebar-inner .pro-sidebar-layout ul .pro-inner-item {
  color: #000;
  margin: 10px 0px;
  font-weight: bold;
}
#header
  .pro-sidebar-inner
  .pro-sidebar-layout
  ul
  .pro-inner-item
  .pro-icon-wrapper {
  /*! Color secondary !*/
  background-color: #ffffff;
  color: #000007;
  border-radius: 3px;
}
#header
  .pro-sidebar-inner
  .pro-sidebar-layout
  ul
  .pro-inner-item
  .pro-icon-wrapper
  .pro-item-content {
  color: #000;
}
#header .pro-sidebar-inner .pro-sidebar-layout .active {
  /*! Color primary !*/
  /* background-image: linear-gradient(0deg, #fece00 0%, #ffe172 100%); */
  /* background-image: linear-gradient(0deg, #f96e44 0%, #ff6756 100%); */
  /* background-image: linear-gradient(310deg,#7928ca,#ff0080); */
  /* background: black; */
  /* box-shadow: 0 3px 5px -1px rgb(0 0 0 / 9%), 0 2px 3px -1px rgb(0 0 0 / 7%); */
  box-shadow: 5px 10px #888;
  transform: scale(1.02);
}

.hover-white:hover {
  color: white !important;
}

#header .logo {
  padding: 20px;
}

/* @media only screen and (max-width: 720px) {
  html {
    overflow: hidden;
  }
} */
@media only screen and (min-width: 800px) {
  html {
    overflow: scroll;
  }
}

.pro-menu-item:hover {
  color: white;
}

.selected {
  color: red;
  font-weight: bold;
  font-size: 20px;
}
