.bg-superDark {
  background-image: linear-gradient(310deg, #7928ca, #ff0080);
}
.nav-color {
  color: white !important;
  background: #ff0080;
}
.Nav-zalo {
  background-color: white;
  color: blue;
  border-radius: 2px;
  padding: 2px;
  /* margin: 0px 2px; */
  font-weight: bold;
}

.color-decor {
  line-height: 3;
}


